.footer {
  padding: 13rem 2.5% 0;
  background: black;
  color: white;
  border: 1px solid red;

  &Body {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    // border: 1px solid orange;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 500px) {
    padding: 4.9rem 5% 0;
  }

  &Contact {
    font-size: 2.4rem;
    line-height: 2.684rem;

    &Email {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }

    &Connect {
      margin-top: 2.1rem;
      margin-bottom: 1.2rem;

      @media screen and (max-width: 500px) {
        margin: 3rem 0;
      }
    }

    &Links {
      // border: 1px solid red;
      width: 55%;
      display: flex;
      justify-content: space-between;

      img {
        cursor: pointer;
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 1024px) {
      margin-inline: auto;
      text-align: center;
    }

    @media screen and (max-width: 500px) {
      // text-align: left;
      margin-inline: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  &Input {
    border: 1px solid red;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid white;
      border-radius: 48px;
      padding: 0.8rem 1rem;
      width: 100%;
      background: #3a3939;

      input {
        background: #3a3939;
        // display: none;
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.6rem;
        color: white;

        &::placeholder {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
      }

      @media screen and (max-width: 500px) {
      }
    }

    @media screen and (max-width: 1024px) {
      margin: 3rem auto 4rem;
      // text-align: left;
    }
  }

  &Others {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;

    & > div {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    & > div p {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 1024px) {
      margin-inline: auto;
      text-align: center;
    }

    @media screen and (max-width: 500px) {
      margin-inline: 0;
      border: 2px solid blue;

      & > div {
        // justify-content: flex-start;
        // text-align: left;
        margin-right: auto;
      }
    }
  }

  &CopyRight {
    text-align: center;
    margin-top: 8.2rem;
    padding-bottom: 2.284rem;
    font-size: 1.2rem;
    line-height: 1.506rem;
  }
}
